<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success mt-5" role="alert">
                <h4 class="alert-heading">Registration Successful!</h4>
                <p>Your account has been successfully created. You can now <a href="/login">log in</a> with your credentials.</p>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>