<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        li {
            list-style-type: none;
        }
    </style>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments/studentSidebar}"></div>
<div class="content">
    <div class="container">
        <h2 class="my-5" th:text="'Welcome, ' + ${user.person.firstName} + ' ' + ${user.person.lastName}"> </h2>
        <p>Choose an option from the sidebar to get started.</p>
    </div>
</div>

</body>
</html>