<div class="sidebar">
  <h2>Dashboard</h2>
  <a href="/student/profile" class="sidebar-link">My Profile</a>
  <a href="/student/profile/update-password" class="sidebar-link">Update Password</a>
  <a href="/student/documents" class="sidebar-link">My Documents</a>
  <a href="/student/project" class="sidebar-link">My Projects</a>
  <a href="/student/education" class="sidebar-link">My Education</a>
  <a href="/student/employment" class="sidebar-link">My Industry Experience</a>
  <a href="/student/courses" class="sidebar-link">View University Courses</a>
  <a href="/student/jobs" class="sidebar-link">View Jobs</a>
  <a href="/logout" class="sidebar-link">Logout</a>
</div>